<div class="usp-bar-wrapper wf-section" style="background-color: {{ section.settings.announcement_bar_color }};">
      <p class="usp-bar" style="color: {{ section.settings.announcement_text }};">{{ section.settings.announcement_bar_text }}</p>
    </div>